# general
.DS_Store
*.pyc
*.pyo
*.bak
*.db
*.log
*.svn

# frontend
node_modules
frontend/.config/
frontend/.npm/
frontend/.vue-templates/
frontend/.nuxt/

# backend
__pycache__
phpmyadmin/sessions
backend/media/
backend/static/admin/
backend/static/rest_framework/
backend/django/**/migrations/*.py
!backend/django/**/migrations/__init__.py